<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Monitoring/HttpHostname" value="localhost"/>
    <add key="Monitoring/HttpPort" value="1234"/>
    <!--<add key="Monitoring/TransportType" value="NServiceBus.SqlServerTransport, NServiceBus.Transport.SQLServer, Version=3.0.0.0, Culture=neutral, PublicKeyToken=9fc386479f8a226c"/>-->
  </appSettings>
  <!--<connectionStrings>
    <add name="NServiceBus/Transport" connectionString="Data Source=localhost\sqlexpress; Initial Catalog=Monitoring; Integrated Security=True;"/>
  </connectionStrings>-->
</configuration>
